@use "./common/vars" as *;
@use "./common/mixins" as *;

html {
	height: 100%;
	font-family: $font-sans-serif;
	font-size: 16px;
	// font-feature-settings: 'palt' on;
	line-height: 1.6;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

@media ( -webkit-min-device-pixel-ratio: 2 ), ( min-resolution: 2dppx ) {
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

body {
	height: 100%;
	margin: 0;
}

h1 {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	font-size: 100%;
}

input {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	appearance: none;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}

// remove shadow-ish bg in iOS Safari
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"] {
	background-image: linear-gradient( #fff,#fff );
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.25em;
}

//
// -----------------------------------------------------------------------------
.-onlyLargeScreen {
	display: none !important;

	@include mediaL () {
		display: block !important;

		@at-root br#{ & } {
			display: inline !important;
		}
	}
}

.-onlySmallScreen {
	display: none !important;

	@include mediaS () {
		display: block !important;

		@at-root br#{ & } {
			display: inline !important;
		}
	}
}

.-ignoreSmallScreen {
	@include mediaS () {
		display: none !important;
	}
}

.-ignoreMiddleScreen {
	@include mediaM () {
		display: none !important;
	}
}

.-ignoreLargeScreen {
	@include mediaL () {
		display: none !important;
	}
}

//
// -----------------------------------------------------------------------------
.-text-right{
	text-align: right !important;
}

// .-inlineBlock {
// 	display: inline-block;
// }
