@use "sass:math";
@use "sass:string";
@use "./vars" as *;

@mixin mediaL () {
	@media ( min-width: #{ $breakpoint-middle + 1px } ) {
		@content;
	}
}

@mixin mediaLM () {
	@media ( min-width: #{ $breakpoint-small + 1px } ) {
		@content;
	}
}

@mixin mediaM () {
	@media ( max-width: $breakpoint-middle ) and ( min-width: #{ $breakpoint-small + 1px } ) {
		@content;
	}
}

@mixin mediaMS () {
	@media ( max-width: $breakpoint-middle ) {
		@content;
	}
}

@mixin mediaS () {
	@media ( max-width: $breakpoint-small ) {
		@content;
	}
}

@mixin media2x () {
	@media
	( -webkit-min-device-pixel-ratio: 2 ),
	(         min-device-pixel-ratio: 2 ),
	(                 min-resolution: 192dpi ),
	(                 min-resolution: 2dppx ) {
		@content;
	}
}

// hoisting order
// stylelint-disable
@include mediaL   { _{ _: 0; } }
@include mediaLM  { _{ _: 0; } }
@include mediaM   { _{ _: 0; } }
@include mediaMS  { _{ _: 0; } }
@include mediaS   { _{ _: 0; } }
@include media2x  { _{ _: 0; } }
// stylelint-enable


// leading-trim
// -----------------------------------------------------------------------------
@mixin trimAscender( $line-height: 1.6, $overwrite: false ) {

	&::before {
		@if not $overwrite {
			content: "";
			display: table;
			width: 100%;
			height: 0;
			border-spacing: 0;
		}
		margin-bottom: #{ ( 1 - $line-height ) * 0.5em };
	}
}

@mixin trimDescender( $line-height: 1.6, $overwrite: false ) {

	&::after {
		@if not $overwrite {
			content: "";
			display: table;
			width: 100%;
			height: 0;
			border-spacing: 0;
		}
		margin-top: #{ ( 1 - $line-height ) * 0.5em };
	}
}

@mixin trimLineHeight( $line-height: 1.6, $overwrite: false ) {
	@include trimAscender( $line-height, $overwrite );
	@include trimDescender( $line-height, $overwrite );
	line-height: $line-height;
}

//
// -----------------------------------------------------------------------------
@mixin wordbreak () {
	hyphens: auto;
	word-break: break-word;
	word-break: break-all;
	white-space: normal;
}

// Swiper helper
// -----------------------------------------------------------------------------

@mixin swiperContainer {
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	list-style: none;
	touch-action: pan-y;

	// &.swiper-container-autoheight {
	// 	height: auto;
	// }

  // &.swiper-vertical {
  //   touch-action: pan-x;
  // }

	// &.swiper-vertical > .swiper-wrapper {
	// 	flex-direction: column;
	// }
}

@mixin swiperWrapper {
	position: relative;
	z-index: 1;
	box-sizing: content-box;
	display: flex;
	width: 100%;
	height: 100%;
	transform: translate3d(0px, 0, 0);
	transition-property:transform;
	transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);

	// .swiper-container-free-mode > & {
	// 	transition-timing-function: ease-out;
	// 	margin: 0 auto;
	// }

	// .swiper-container-autoheight &{
	// 	align-items: flex-start;
	// 	transition-property: transform, height;
	// }
	// .swiper-vertical > & {
  //   flex-direction: column;
	// }
}

@mixin swiperSlide {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	transition-property: transform;

	transform: translateZ(0);
	backface-visibility: hidden;

	// .swiper-container-autoheight & {
	// 	height: auto;
	// }
}

@mixin swiperPrev {

	&.swiper-button-disabled {
		pointer-events: none;
		cursor: auto;
		opacity: 0.35;
	}
}

@mixin swiperNext {

	&.swiper-button-disabled {
		pointer-events: none;
		cursor: auto;
		opacity: 0.35;
	}
}


@mixin swiperScrollbar {
	& {
		border-radius: 10px;
		position: relative;
		background: rgba(0, 0, 0, 0.1);
	}
	.swiper-scrollbar-disabled > &,
	&.swiper-scrollbar-disabled {
		display: none !important;
	}
	.swiper-horizontal > &,
	&.swiper-scrollbar-horizontal {
		position: absolute;
		left: 1%;
		bottom: 3px;
		z-index: 50;
		height: 5px;
		width: 98%;
	}
	.swiper-vertical > &,
	&.swiper-scrollbar-vertical {
		position: absolute;
		right: 3px;
		top: 1%;
		z-index: 50;
		width: 5px;
		height: 98%;
	}
	.swiper-scrollbar-drag {
		height: 100%;
		width: 100%;
		position: relative;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		left: 0;
		top: 0;
	}
	.swiper-scrollbar-cursor-drag {
		cursor: move;
	}
	.swiper-scrollbar-lock {
		display: none;
	}
}

//
// -----------------------------------------------------------------------------
@mixin fullFill( $color ) {
	border-image: linear-gradient( $color, $color ) 0 fill / 1 / 0 100vw stretch;
	background: $color;
}



//
// -----------------------------------------------------------------------------

// @function stripUnit( $number ) {
// 	@if type-of( $number ) == 'number' and not unitless( $number ) {
// 		@return math.div( $number, ( $number * 0 + 1 ) );
// 	}

// 	@return $number;
// }

