@use "../common/vars" as *;
@use "../common/mixins" as *;

// Common
// --------------------------------------------
$bg-color: #FEFFED;
$bg-color-section: #ED9196;
$bg-color-contents: #E7584A;
$bg-nav-item: rgba(237, 150, 140, .2);
$nav-item: #ED9096;

.BgColor {
    box-sizing: border-box;
    max-width: 640px;
    margin: 0 auto;
    background: $bg-color;
    padding: 0 10px;
    padding-bottom: 135px;
}

section {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px;
    background: $bg-color-section;
    border-radius: 5px;
}


h2 {
    color: #DD574B;
}

h3,
h4,
p {
    color: #fff;
}

h2 {
    width: fit-content;
    margin: 0 auto;
    &.Arrow {
    position: relative;
    padding: 0 1.4em;
        &::before,
        &::after {
            content: "";
            top: 0.45em;
            position: absolute;
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor; 
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}

h3 {
    margin: 5px;
}

a,
button {
    transition: all 0.5s 0s ease;
    &:hover {
        opacity: .7;
    }
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

// --------------------------------------------

.hero {
    max-width: 640px;
    padding: 0;

    img {
        display: block;
    }
}

// --------------------------------------------

.Read {
    background-color: $bg-color;
    padding: 0;
    max-width: 620px;
    padding-top: 20px;

    p {
        color: #dd574b;
        font-weight: 900;
        margin: 20px 0 0;
        text-align: center;
    }

    &__FilterItem {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
        gap: 1%;
        li {
            box-sizing: border-box;
            width: 24.25%;
            height: 50px;
            background-color: #FBE9EA;
            margin-top: 1%;
            border: 1px solid #979795;

            button {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                width: 100%;
                height: 100%;
                color: $nav-item;
            }
        }
    }

    &__Category {
        flex-wrap: wrap;
        gap: .5%;
        padding: 2%;
        margin: 0 0 2%;
        background: #ED9096;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: .8%;
            box-sizing: border-box;
            width: 19.6%;
            overflow: hidden;

            button {
                text-align: center;
                border-radius: 5px;
                box-sizing: border-box;
                width: 100%;
                font-size: 10px;
                padding: 10px 0;
                background-color: #FBE9EA;
                color: $nav-item;
                height: 100%;
            }
        }
    }
}

// フィルター

.Read__FilterItem {

    li {
        cursor: pointer;
    }

    li .is-active {
        background: #E75749;
        color: #fff;

        &:hover {
            opacity: 1;
            cursor: auto;
        }
    }
}

.Read__Category {

    display: none;
    
    &.is-show {
        display: flex;
    }
}

.FilterButton {
    &.is-active {
        background: #E75749;
        color: #fff;

        &:hover {
            opacity: 1;
            cursor: auto;
        }
    }
}

// --------------------------------------------

.Products {
    margin-top: 30px;

    h3 {
        text-align: center;
    }

    h4 {
        background: $bg-color-contents;
        width: fit-content;
        padding: 3px 20px;
        margin: 10px 0 0;
        border-radius: 5px 5px 0 0;
    }
    &__ItemCategory {
        background: $bg-color-contents;
        max-width: 580px;
        margin: 0 auto;
        padding: 10px 10px;
        border-radius: 0 5px 5px 5px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        li {
            width: calc(50% - 5px);
            border-radius: 5px;
            overflow: hidden;
            background: #fff;
            box-sizing: border-box;
            padding: 5px;

            img {
                display: block;
                margin: 0 auto;
                width: 95%;
            }
        }

        &.sub_title_none {
            border-radius: 5px;
        }
    }
}

.Products {

    display: none;
    
    &.is-show {
        display: block;
    }
}

.Products__ItemCategoryWrapper {

    display: none;
    
    &.is-show {
        display: block;
    }
}



// --------------------------------------------

.FixNav {
    background: #FEE502;
    position: fixed;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0 20px;

    p {
        text-align: center;
        color: hsl(86, 11%, 29%);
        margin: 5px;
        font-weight: 700;

        img {
            width: 12px;
        }
    }

    &__Container {
        display: flex;
        position: relative;
        line-height: 0;

        &__BtnLeft {
            position: absolute;
            top: .3em;
            left: 0;
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor; 
            transform: rotate(90deg);
            z-index: 10;
            height: fit-content;
        }
    
        &__BtnRight {
            position: absolute;
            top: .3em;
            right: 0;
            transform: rotate(-90deg);
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor; 
            z-index: 10;
        }
    
        &__inner {
            overflow: auto;
            position: relative;
            padding: 0 30px;
            margin: 0 auto;
    
            &__Category {
            display: flex;
            gap: 10px;
            width: fit-content;
            padding-left: 0;
            
                li {
                    width: fit-content;
                    background-color: #fff;
                    
                    a {
                        font-size: 14px;
                        background-color: #fff;
                        text-decoration: none;
                        white-space: nowrap;
                        padding: 3px 30px;
                        color: #4A5141;
                        border-radius: 5px;
                        border: 1px solid #979795;
                    }
                }
            }
        }

    }

}