@use "../common/vars" as *;
@use "../common/mixins" as *;

// labカラー設定
// 外側
$bg_1: #4E4347;
// 内側
$bg_2: #c9c9c9;

// カラー指定
// --------------------------------------------
$bg-color: #f3f3f3;
$bg-color-section: $bg_2;
$bg-color-contents: $bg_1;

$text-color-nav-item: #000;
$text-color-red: #DF312F;
$text-color-black: #2c2c2c;
$text-color-white: #fff;

// Common
// --------------------------------------------

.BgColor {
    box-sizing: border-box;
    max-width: 640px;
    margin: 0 auto;
    background: $bg-color;
}

section {
    max-width: 640px;
    margin: 0 auto;
    border-radius: 5px;
}


h2 {
    color: #2c2c2c;
}

h3,
h4,
p {
    color: $text-color-white;
}

h2 {
    width: fit-content;
    margin: 0 auto -20px;
    &.Arrow {
    position: relative;
    padding: 0 1.4em;
        &::before,
        &::after {
            content: "";
            top: 0.45em;
            position: absolute;
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}

h3 {
    margin: 0 5px 10px;
    font-size: 22px;
}

a,
button {
    transition: all 0.5s 0s ease;
    &:hover {
        opacity: .7;
    }
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.Sp__L__Only {
    display: none;

    @include mediaS_L {
        display: block;
    }
}

.Sp__M__Only {
    display: none;

    @include mediaS_M {
        display: block;
    }
}
.Sp__S__Only {
    display: none;

    @include mediaS_S {
        display: block;
    }
}

// 商品カテゴリーごとのカラー指定
// --------------------------------------------

.Bg__Products01__Active,
.Bg__Products02__Active,
.Bg__Products03__Active,
.Bg__Products04__Active,
.Bg__Products05__Active,
.Bg__Products06__Active,
.Bg__Products07__Active,
.Bg__Products08__Active,
.Bg__Products09__Active,
.Bg__Products10__Active,
.Bg__Products13__Active,
.Bg__Products14__Active,
.Bg__Products15__Active,
.Bg__Products16__Active,
.Bg__Products17__Active,
.Bg__Products18__Active {
    &.is-active {
        background: $bg_1;
    }
}

// --------------------------------------------

.hero {
    max-width: 640px;
    padding: 0;

    img {
        display: block;
    }
}

// --------------------------------------------

.Lab,
.Paypay {
    padding: 30px 10px 0;
    max-width: 620px;
    background: $bg-color;
    border-radius: 0;

    img {
        display: block;
    }
}

// --------------------------------------------

.SpecialPrice {
    background: $bg-color-contents;

    h3 {
        margin: 0 5px 5px;
    }

    .Products__ItemCategory {
        background: $bg-color-contents;

        li {
            background: #fff;
        }
    }
}

// --------------------------------------------

.Read {
    background-color: $bg-color;
    padding: 0;
    max-width: 620px;
    padding-top: 20px;

    p {
        color: #2c2c2c;
        font-weight: 900;
        margin: 0 0 10px;
        text-align: center;
        font-size: 18px;
    }

    &__FilterItem {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
        gap: 5px;
        margin-top: 5px;
        li {
            box-sizing: border-box;
            width: calc(25% - 4px);
            height: 50px;
            // background-color: #FBE9EA;
            //border: 1px solid #979795;

            @include mediaS_L {
                height: 75px;
            }

            @include mediaS_S {
                height: 100px;
            }

            button {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                background-color: #f5f5f5;
                width: 100%;
                height: 100%;
                color: $text-color-nav-item;
            }
        }
    }
}

.Read__Category {

    display: none;

    &.is-show {
        display: flex;
    }
}

.FilterButton {
    &.is-active {
        color: $text-color-white;

        &:hover {
            opacity: 1;
            cursor: auto;
        }
    }
}

// --------------------------------------------

.Products {
    margin-top: 30px;
    overflow: hidden;
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

.Products {

    display: none;

    &.is-show {
        display: block;
    }
}

.Products__ItemCategoryWrapper {

    display: none;

    &.is-show {
        display: block;
    }
}
.CautionImage {
    max-width: 620px;
    margin: 0 auto;
}

// --------------------------------------------

.FixNav {
    background: #FEE502;
    position: fixed;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0 20px;

    p {
        text-align: center;
        color: hsl(86, 11%, 29%);
        margin: 5px;
        font-weight: 700;

        img {
            width: 12px;
        }
    }

    &__Container {
        display: flex;
        position: relative;
        line-height: 0;

        &__BtnLeft {
            position: absolute;
            top: .3em;
            left: 0;
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor;
            transform: rotate(90deg);
            z-index: 10;
            height: fit-content;
        }

        &__BtnRight {
            position: absolute;
            top: .3em;
            right: 0;
            transform: rotate(-90deg);
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor;
            z-index: 10;
        }

        &__inner {
            overflow: auto;
            position: relative;
            padding: 0 30px;
            margin: 0 auto;

            &__Category {
            display: flex;
            gap: 10px;
            width: fit-content;
            padding-left: 0;

                li {
                    width: fit-content;
                    background-color: #fff;

                    a {
                        font-size: 14px;
                        background-color: #fff;
                        text-decoration: none;
                        white-space: nowrap;
                        padding: 3px 30px;
                        color: #4A5141;
                        border-radius: 5px;
                        border: 1px solid #979795;
                    }
                }
            }
        }

    }

}

// --------------------------------------------

.ShopList {
    margin-top: 30px;
    padding: 30px;

    dl {
        margin: 30px 0 0;

        &:first-child {
            margin-top: 0;
        }

        dt {
            text-align: center;
            background: $bg-color-contents;

            &:first-child {
                margin-top: 0;
            }

            h4 {
                font-size: 16px;
                margin: 0;
                padding: 10px 0;
            }
        }

        dd {
            margin: 0;
            padding: 30px 30px 0;
            background: #fff;

            &:last-child {
                padding: 30px;
            }

            h5 {
                margin: 0;
                font-size: 16px;
                color: #2c2c2c;
                padding-bottom: 10px;
                border-bottom: 3px solid $bg-color-contents;
            }
            p {
                font-size: 13px;
                color: #000;
                margin: 10px 0 0;
            }
        }
    }
}

// --------------------------------------------

.ScrollTop {
    position: fixed;
    bottom: 4px;
    right: 10px;
    transition: opacity,transform .3s;

    &:hover {
        opacity: .7;
        transform: scale(1.05);
    }

    &__Button {
        width: 60px;
        margin: 0 0 0 auto;
        display: block;
    }
}
