@use "../common/vars" as *;
@use "../common/mixins" as *;

// カラー指定
// --------------------------------------------
$bg-color: #FEFFED;
$bg-color-section: #f7b3b7;
$bg-color-contents: #DF312F;

$text-color-nav-item: #000;
$text-color-red: #DF312F;
$text-color-white: #fff;

// 商品カテゴリーカラー指定
// --------------------------------------------

// スペシャルプライス
$bg__products01: #DF312F;
$bg__products01__inner: #DF312F;

// シーズンケアアイテム
$bg__products02: #FFCAD0;
$bg__products02__inner: #f2818e;

// カウンセリング化粧品
$bg__products03: #ffa1db;
$bg__products03__inner: #cb6ca7;

// 虫さされ・虫よけ
$bg__products04: #5F84E0;
$bg__products04__inner: #425BA8;

// 害虫対策
$bg__products05: #45DDD5;
$bg__products05__inner: #00ADA9;

// ビューティケア
$bg__products06: #EE869A;
$bg__products06__inner: #ED5D7F;

// 日用品
$bg__products07: #a5e881;
$bg__products07__inner: #5CB531;

// オーラルケア
$bg__products08: #5BB2E8;
$bg__products08__inner: #0068B7;

// メンズケア
$bg__products09: #75B8EA;
$bg__products09__inner: #005BAC;

// フェミニンケア
$bg__products10: #FFABD5;
$bg__products10__inner: #E85298;

// ベビー
$bg__products11: #75B8EA;
$bg__products11__inner: #005BAC;

// 介護用品
$bg__products12: #75B8EA;
$bg__products12__inner: #005BAC;

// 医薬品
$bg__products13: #86DDFC;
$bg__products13__inner: #00A0E9;

// アイマスク
$bg__products14: #ffa1db;
$bg__products14__inner: #cb6ca7;

// 医療衛生・コンタクト
$bg__products15: #86DDFC;
$bg__products15__inner: #00A0E9;

// トイレ用品
$bg__products16: #CC6CD3;
$bg__products16__inner: #7F1084;

// 健康食品
$bg__products17: #44E284;
$bg__products17__inner: #009944;

// ヘルシアの保健機能食品シリーズ
$bg__products18: #44E284;
$bg__products18__inner: #009944;

// 食品
$bg__products19: #FFB471;
$bg__products19__inner: #EF7A00;


// Common
// --------------------------------------------

.BgColor {
    box-sizing: border-box;
    max-width: 640px;
    margin: 0 auto;
    background: $bg-color;
    padding: 0 10px 10px;
}

section {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 5px;
}


h2 {
    color: $text-color-red;
}

h3,
h4,
p {
    color: $text-color-white;
}

h2 {
    width: fit-content;
    margin: 0 auto -20px;
    &.Arrow {
    position: relative;
    padding: 0 1.4em;
        &::before,
        &::after {
            content: "";
            top: 0.45em;
            position: absolute;
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}

h3 {
    margin: 0 5px 10px;
    font-size: 22px;
}

a,
button {
    transition: all 0.5s 0s ease;
    &:hover {
        opacity: .7;
    }
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.Sp__L__Only {
    display: none;

    @include mediaS_L {
        display: block;
    }
}

.Sp__M__Only {
    display: none;

    @include mediaS_M {
        display: block;
    }
}
.Sp__S__Only {
    display: none;

    @include mediaS_S {
        display: block;
    }
}

// 商品カテゴリーごとのカラー指定
// --------------------------------------------

.Bg__Products01 {
    background: $bg__products01;

    &__Inner {
        background: $bg__products01__inner;
    }
}
.Bg__Products01__Active {
    &.is-active {
        background: $bg__products01__inner;
    }
}

.Bg__Products02 {
    background: $bg__products02;

    &__Inner {
        background: $bg__products02__inner;
    }
}
.Bg__Products02__Active {
    &.is-active {
        background: $bg__products02__inner;
    }
}

.Bg__Products03 {
    background: $bg__products03;

    &__Inner {
        background: $bg__products03__inner;
    }
}
.Bg__Products03__Active {
    &.is-active {
        background: $bg__products03__inner;
    }
}

.Bg__Products04 {
    background: $bg__products04;

    &__Inner {
        background: $bg__products04__inner;
    }
}
.Bg__Products04__Active {
    &.is-active {
        background: $bg__products04__inner;
    }
}

.Bg__Products05 {
    background: $bg__products05;

    &__Inner {
        background: $bg__products05__inner;
    }
}
.Bg__Products05__Active {
    &.is-active {
        background: $bg__products05__inner;
    }
}

.Bg__Products06 {
    background: $bg__products06;

    &__Inner {
        background: $bg__products06__inner;
    }
}
.Bg__Products06__Active {
    &.is-active {
        background: $bg__products06__inner;
    }
}

.Bg__Products07 {
    background: $bg__products07;

    &__Inner {
        background: $bg__products07__inner;
    }
}
.Bg__Products07__Active {
    &.is-active {
        background: $bg__products07__inner;
    }
}

.Bg__Products08 {
    background: $bg__products08;

    &__Inner {
        background: $bg__products08__inner;
    }
}
.Bg__Products08__Active {
    &.is-active {
        background: $bg__products08__inner;
    }
}

.Bg__Products09 {
    background: $bg__products09;

    &__Inner {
        background: $bg__products09__inner;
    }
}
.Bg__Products09__Active {
    &.is-active {
        background: $bg__products09__inner;
    }
}

.Bg__Products10 {
    background: $bg__products10;

    &__Inner {
        background: $bg__products10__inner;
    }
}
.Bg__Products10__Active {
    &.is-active {
        background: $bg__products10__inner;
    }
}

.Bg__Products11 {
    background: $bg__products11;

    &__Inner {
        background: $bg__products11__inner;
    }
}
.Bg__Products11__Active {
    &.is-active {
        background: $bg__products11__inner;
    }
}

.Bg__Products12 {
    background: $bg__products12;

    &__Inner {
        background: $bg__products12__inner;
    }
}
.Bg__Products12__Active {
    &.is-active {
        background: $bg__products12__inner;
    }
}

.Bg__Products13 {
    background: $bg__products13;

    &__Inner {
        background: $bg__products13__inner;
    }
}
.Bg__Products13__Active {
    &.is-active {
        background: $bg__products13__inner;
    }
}

.Bg__Products14 {
    background: $bg__products14;

    &__Inner {
        background: $bg__products14__inner;
    }
}
.Bg__Products14__Active {
    &.is-active {
        background: $bg__products14__inner;
    }
}

.Bg__Products15 {
    background: $bg__products15;

    &__Inner {
        background: $bg__products15__inner;
    }
}
.Bg__Products15__Active {
    &.is-active {
        background: $bg__products15__inner;
    }
}

.Bg__Products16 {
    background: $bg__products16;

    &__Inner {
        background: $bg__products16__inner;
    }
}
.Bg__Products16__Active {
    &.is-active {
        background: $bg__products16__inner;
    }
}

.Bg__Products17 {
    background: $bg__products17;

    &__Inner {
        background: $bg__products17__inner;
    }
}
.Bg__Products17__Active {
    &.is-active {
        background: $bg__products17__inner;
    }
}

.Bg__Products18 {
    background: $bg__products18;

    &__Inner {
        background: $bg__products18__inner;
    }
}
.Bg__Products18__Active {
    &.is-active {
        background: $bg__products18__inner;
    }
}

.Bg__Products19 {
    background: $bg__products19;

    &__Inner {
        background: $bg__products19__inner;
    }
}
.Bg__Products19__Active {
    &.is-active {
        background: $bg__products19__inner;
    }
}


// --------------------------------------------

.hero {
    max-width: 640px;
    padding: 0;

    img {
        display: block;
    }
}


// --------------------------------------------

.Paypay {
    padding: 10px 10px 0;
    max-width: 620px;
    background: $bg-color;
    border-radius: 0;

    img {
        display: block;
    }
}

// --------------------------------------------

.SpecialPrice {
    background: $bg-color-contents;

    h3 {
        margin: 0 5px 5px;
    }

    .Products__ItemCategory {
        background: $bg-color-contents;

        li {
            background: #fff;
        }
    }
}

// --------------------------------------------

.Read {
    background-color: $bg-color;
    padding: 0;
    max-width: 620px;
    padding-top: 20px;

    p {
        color: #dd574b;
        font-weight: 900;
        margin: 0 0 10px;
        text-align: center;
        font-size: 18px;
    }

    &__FilterItem {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
        gap: 5px;
        margin-top: 5px;
        li {
            box-sizing: border-box;
            width: calc(25% - 4px);
            height: 50px;
            // background-color: #FBE9EA;
            //border: 1px solid #979795;

            @include mediaS_L {
                height: 75px;
            }

            @include mediaS_S {
                height: 100px;
            }

            button {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                background-color: #f5f5f5;
                width: 100%;
                height: 100%;
                color: $text-color-nav-item;
            }
        }
    }

    &__Category {
        flex-wrap: wrap;
        gap: 5px;
        padding: 2%;
        margin: 5px 0 5px;
        align-items: stretch;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: calc(20% - 4px);
            overflow: hidden;

            @include mediaS_L {
                height: 53px;
            }

            @include mediaS_M {
                height: 68px;
            }

            @include mediaS_S {
                height: 83px;
            }

            button {
                text-align: center;
                border-radius: 5px;
                box-sizing: border-box;
                width: 100%;
                font-size: 10px;
                padding: 10px 0;
                background-color: #f5f5f5;
                color: $text-color-nav-item;
                height: 100%;
            }
        }
    }
}

// フィルター

.Read__FilterItem {

    li {
        cursor: pointer;
    }

    li .is-active {
        color: $text-color-white;

        &:hover {
            opacity: 1;
            cursor: auto;
        }

        &.-category {

            &::before {
                opacity: 1;
            }
        }
    }
    .-category {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 5px;
            background: inherit;
            bottom: -5px;
            //border-right: 1px solid #979795;
            //border-left: 1px solid #979795;
            opacity: 0;
            transition: all .5s ease 0s;
        }
    }
}

.Read__Category {

    display: none;

    &.is-show {
        display: flex;
    }
}

.FilterButton {
    &.is-active {
        color: $text-color-white;

        &:hover {
            opacity: 1;
            cursor: auto;
        }
    }
}

// --------------------------------------------

.Products {
    margin-top: 30px;

    h3 {
        text-align: center;
    }

    h4 {
        width: fit-content;
        padding: 3px 20px;
        margin: 10px 0 0;
        border-radius: 5px 5px 0 0;
    }
    &__ItemCategory {
        max-width: 580px;
        margin: 0 auto;
        padding: 10px 10px;
        border-radius: 0 5px 5px 5px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        li {
            width: calc(50% - 5px);
            border-radius: 5px;
            overflow: hidden;
            background: #fff;
            box-sizing: border-box;
            //padding: 5px;

            img {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }

        &.sub_title_none {
            border-radius: 5px;
        }
    }
}

.Products {

    display: none;

    &.is-show {
        display: block;
    }
    
    &__Medical {
        &__Read {
            background: #F18D00;
            padding: 5px;

            p {
                font-size: 12px;
                margin: 0;
            }
        }

        &__Container {
            display: flex;
            margin-top: 10px;
    
            img {
                width: 50px;
                height: 50px;
            }
    
            div {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1%;
                    padding: 0;
                    margin: 0;
    
                    li {
                        box-sizing: border-box;
                        width: 49.5%;
                        border: 1px solid #5CB531;
                        display: flex;
                        background: #fff;
                        gap: 3px;
                        padding: 5px;

                        @include mediaS_M {
                            width: 100%;

                            &:nth-child(2) {
                                margin-top: 1%;
                            }
                        }
                        
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 1%;
                        }

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        p {
                            color: #000;
                            font-size: 10px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.Products__ItemCategoryWrapper {

    display: none;

    &.is-show {
        display: block;
    }
}

.Caution {
    margin: -10px 0 0;
    border-radius: 0 0 5px 5px;

    &__Contents {
        text-align: center;
        padding: 40px 0;

        p {
            font-size: 22px;
            color: $text-color-red;
            font-weight: 700;
            margin: 0;
        }

        span {
            font-size: 16px;
            color: $text-color-red;
            font-weight: 700;
            margin-top: 10px;
            display: block;
        }

        div {
            margin-top: 30px;
        }

        &__MemorialSummer {
            display: flex;
            justify-content: center;
            gap: 10px;

            img {
                width: 50px;
                height: 50px;
            }

            span {
                margin: 0;
                position: relative;
                padding-left: 20px;

                &::before {
                    position: absolute;
                    content: '←';
                    left: 0;
                }
            }
        }

        &__Point {

            img {
                width: 200px;
            }

            p {
                font-size: 16px;
                color: #000;

                strong {
                    display: inline;
                    color: $text-color-red;
                    font-size: 20px;
                }
            }
        }

        ul {
            text-align: left;
            padding-left: 0px;
            margin-top: 40px;

            li {
                font-size: 14px;
                position: relative;
                padding-left: 15px;
                margin-top: 5px;
                font-weight: 700;

                &::before {
                    position: absolute;
                    content: '※';
                    left: 0;
                }

                &.-Red {
                    color: $text-color-red;
                }
            }
        }
    }

}

// --------------------------------------------

.FixNav {
    background: #FEE502;
    position: fixed;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0 20px;

    p {
        text-align: center;
        color: hsl(86, 11%, 29%);
        margin: 5px;
        font-weight: 700;

        img {
            width: 12px;
        }
    }

    &__Container {
        display: flex;
        position: relative;
        line-height: 0;

        &__BtnLeft {
            position: absolute;
            top: .3em;
            left: 0;
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor;
            transform: rotate(90deg);
            z-index: 10;
            height: fit-content;
        }

        &__BtnRight {
            position: absolute;
            top: .3em;
            right: 0;
            transform: rotate(-90deg);
            border: 0.5em solid transparent;
            border-top: .85em solid currentColor;
            z-index: 10;
        }

        &__inner {
            overflow: auto;
            position: relative;
            padding: 0 30px;
            margin: 0 auto;

            &__Category {
            display: flex;
            gap: 10px;
            width: fit-content;
            padding-left: 0;

                li {
                    width: fit-content;
                    background-color: #fff;

                    a {
                        font-size: 14px;
                        background-color: #fff;
                        text-decoration: none;
                        white-space: nowrap;
                        padding: 3px 30px;
                        color: #4A5141;
                        border-radius: 5px;
                        border: 1px solid #979795;
                    }
                }
            }
        }

    }

}

// --------------------------------------------

.ShopList {
    margin-top: 30px;
    padding: 30px;

    dl {
        margin: 30px 0 0;

        &:first-child {
            margin-top: 0;
        }

        dt {
            text-align: center;
            background: $bg-color-contents;

            &:first-child {
                margin-top: 0;
            }

            h4 {
                font-size: 16px;
                margin: 0;
                padding: 10px 0;
            }
        }

        dd {
            margin: 0;
            padding: 30px 30px 0;
            background: #fff;

            &:last-child {
                padding: 30px;
            }

            h5 {
                margin: 0;
                font-size: 16px;
                color: $text-color-red;
                padding-bottom: 10px;
                border-bottom: 3px solid $bg-color-contents;
            }
            p {
                font-size: 13px;
                color: #000;
                margin: 10px 0 0;
            }
        }
    }
}

// --------------------------------------------

.ScrollTop {
    position: fixed;
    bottom: 4px;
    right: 10px;
    transition: opacity,transform .3s;

    &:hover {
        opacity: .7;
        transform: scale(1.05);
    }

    &__Button {
        width: 60px;
        margin: 0 0 0 auto;
        display: block;
    }
}
